.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
    margin: 10px;
}

.videoSobre .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoSobre-sobre {
    width: 50%;
    align-items: center;
}

.videoSobre-sobre-title, .videoSobre-sobre-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.videoSobre-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 15%;
}

.rodapePrincipal-navMap .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    height: 165px;
    flex-wrap: wrap;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

fieldset .container{
    display: flex;
}

.rodapePrincipal-contatoForm-legend, .rodapePrincipal-contatoForm-fieldset {
    display: flex;
    margin: 0px 30px 0px 30px;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0px 30px 0px 30px;
}